.gradle
*.sw?
.#*
*#
*~
/out
/build
/code
*.log
*.log.*
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.sql
*.iml
*.ipr
*.iws
.idea
.DS_Store
dump.rdb
transaction-logs
tmp
application.yml
bootstrap.yml
.DS_Store